
.App {
  height: 100vh;
  text-align: center;
  overflow: hidden;
}
.grey {
  background-color: #848282;
}
.grey {
  background-color: #ADADAD;
}
.blue {
  background-color: #2E44A2;
}
.blue:hover {
  background-color: #7E86CF;
}
.green {
  background-color: #35B523;
}
.green:hover {
  background-color: #6CC660;
}
.red {
  background-color: #E10D09;
}
.red:hover {
  background-color: #D84542;
}